*{
    box-sizing: border-box;
}

.invisible{
    display: none;
}

header{
    background-color: darkslategray;
    width: 100vw;
    height: 10vh;
    color: white;
}

.bloque-header{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

header .bloque-header:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

h1{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle; 
}

main{
    width: 100vw;
    height: 70vh;
}

#boton-empecemos{
    height: 15vh;
    width: 15vw;
    min-width: 150px;
    background-color: dodgerblue;
    border-radius: 30px;
    border: none    ;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 27.5vh 42.5vw;
    text-align: center;
}

#tablero-juego{
    width: 80vw;
    max-width: 1200px;
    height: 100%;
    max-height: 800px;
    background-color: brown;
    margin: 0 auto;
}


footer{
    background-color: #222;
    width: 100vw;
    height: 20vh;
}